.myMenu
{
	position:fixed;
	left:10px;
	right:10px;
	border: 4px solid #424242;
	width: 160px;
	height:550px;
	padding: 10px; 
	line-height: 90px;
	font-family: "Courier New", Times, serif;
	text-decoration: none !important;
	color:white;
	background:#BDBDBD;
	margin: 5px 5px 5px 5px;

	vertical-align: middle;


}
.mainPage
{
	position:relative;
	left: 200px;
	border:4px solid black;
	width: 900px;
	height: 1500px;
	background: #F8E0E6;
}

.mainHeader
{
	position:relative;
	left:400px;
	top:-1500px;
	font-family: "Arial-Black", Times, serif;
}

a
{
	text-decoration: none;
}
a:hover
{
	color:yellow !important;
	text-decoration: underline;
	cursor: pointer;
}
a:visited
{
	color:black;
}

#menu li
{
	list-style-type: none;
}
body
{
	position:relative;
	background-color: #F2F2F2;
	height:1000px;
	width:500px;
}


h1
{
	position:relative;
	left:450px;
	color: red;
	text-shadow:1px 1px black;
}
h2
{
	position:relative;
	left:325px;
	width:500px;
}

.mainPic
{
	width:400px;
	height:500px;
	position:relative;
	top:-10px;
	left:350px;
	border: 2px solid black;
}
.raisingCanes
{
	position:relative;
	top:-500px;
	left:800px;
	height:30px;
}
.infoBox
{
	padding: 5px;
	position:relative;
	left:250px;
	width: 700px;
	height:500px;
	border:2px solid black;
	background-color:#BDBDBD;

}
.portfolio
{
	position:relative;
	left:200px;
	top:10px;
	border:2px solid black;
	width:850px;
	height:750px;
	background-color:#BDBDBD;
}
